@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 500;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 0;
}

.photographer_section article img {
    width: 100%;
    transform: scale(1.5);
}

.container-img {
    background-color: blue;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 50%;
}

article p {
    margin: 0; padding: 0;
    font-size: 1rem;
}

article p:first-of-type {
    font-size: 1rem;
    color: #901C1C;
}

article p:nth-child(3) {
    font-size: 0.7rem;
    color: #000;
    font-weight: 500;
    margin: 5px 0px;
}

article p:nth-child(4) {
    color: #525252;
    font-size: 0.7rem;
}